/*
General
*/

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.text-format-main {
    font-size: 35px;
    color: white;
}

.text-format-text {
    font-size: 17px;
    color: white;
}

.text-format-comment {
    font-size: 15px;
    color: #9b9a9a;
}

.bold {
    font-weight: bolder;
}

.grid-main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
}

/*
Navbar
*/

nav {
    display: flex;
    background-color: #3a3737;
}

.drop {
    display: inline-block;
    width: 100%;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.nav-list a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

.nav-active {
    background-color:black;
    color: #9b9a9a;
}

.nav-btn {
    display: none;
}

.nav-list a:hover {
    background-color: #1c1c1c;
}

.nav-active:hover {
    background-color: black !important;
}

@media (max-width: 920px) {
    @media (hover: hover) {
        .nav-list {
            display: none;
        }
        
        .nav-btn {
            display: block;
            font-size: 33px;
            padding-inline: 10px;
            padding-bottom: 3px;
            border: none;
            background-color: black;
            color: white;
            cursor: pointer;
        }

        .drop:hover .nav-list {
            display: block;
            position: absolute;
            background-color: #3a3737;
            z-index: 99;
        }
    
        .drop:hover .nav-btn {
            background-color: #1c1c1c;
        }
    
        .nav-list a:hover {
            background-color: #1c1c1c;
        }
    }
}

@media (max-width: 920px) {
    @media (hover: none) {
        nav {
            display: block;
        }
        
        .nav-list {
            display: block;
            background-color: #3a3737;
            text-align: center;
        }
    }
}